<header>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    
    <span>RAFAEL REHFELD.</span>

    <li>
      <a href="/posts">Posts</a>
    </li>

    <li>
      <a href="/cadastro-posts">Cadastro de Posts</a>
    </li>
  </ul>
</header>