<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs')%>
</head>
<body>

  <section class="main">
    
      <%- include('partials/header.ejs') %>
      
      <section class="container">
          <h1> Cadastro de Posts</h1>

          <% if(cadastrado){ %>
            <span>Post cadastrado com sucesso!</span>
            <% } %>
            
          <form action="/salvar-post" method="post">
            <label>Título</label>
            <input name="title" type="text" placeholder="Digite o título">

            <label>Texto</label>
            <textarea name="text" cols="30" rows="10"></textarea>

            <button type="submit">Enviar Post</button>
          </form>
          
          
      </section>
    
      
    <%- include('partials/footer.ejs')%>
    </section>


  <%- include('partials/foot.ejs')%>
</body>
</html>