<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs')%>
</head>
<body>

  <section class="main">

      <%- include('partials/header.ejs') %>
      
      <section class="container">
          <h1>Página inicial</h1>
          <h2>Seja muito bem-vindo(a)!</h2>
          <h3>Para testar o APP, utilize a aba <a href="/cadastro-posts">Cadastro De Posts</a> e depois veja o resultado em <a href="/posts">Posts</a></h3>
          <img src="img/happiness.png" alt="">
      </section>


      <%- include('partials/footer.ejs')%>
  </section>

  <%- include('partials/foot.ejs')%>
  
</body>
</html>